absl-py==0.7.1
astor==0.7.1
bunch==1.0.1
cycler==0.10.0
decorator==4.4.0
gast==0.2.2
graphviz==0.10.1
grpcio==1.19.0
h5py==2.9.0
imageio==2.5.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
mock==2.0.0
networkx==2.2
numpy==1.16.2
opencv-python==4.0.0.21
pbr==5.1.3
Pillow==6.0.0
pkg-resources==0.0.0
protobuf==3.7.1
pydot==1.4.1
pyparsing==2.3.1
python-dateutil==2.8.0
PyWavelets==1.0.2
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
selectivesearch==0.4
six==1.12.0
sklearn==0.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
Werkzeug==0.15.2
